<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carosello News</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Slider</title>
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">

                <div v-if="order==1" class="item">
                    <img src="img/01.jpg" alt="Svezia" />
                    <div class="text">
                        <h3>Svezia</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nostrum dicta laudantium
                            sed quos recusandae cupiditate impedit adipisci velit praesentium provident assumenda id
                            saepe optio itaque vitae, doloremque laborum nesciunt. </p>
                    </div>
                </div>

                <div v-if="order==2" class="item">
                    <img src="img/02.jpg" alt="Svezia" />
                    <div class="text">
                        <h3>Svezia</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nostrum dicta laudantium
                            sed quos recusandae cupiditate impedit adipisci velit praesentium provident assumenda id
                            saepe optio itaque vitae, doloremque laborum nesciunt. </p>
                    </div>
                </div>

                <div v-if="order==3" class="item">
                    <img src="img/03.jpg" alt="Svezia" />
                    <div class="text">
                        <h3>Svezia</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nostrum dicta laudantium
                            sed quos recusandae cupiditate impedit adipisci velit praesentium provident assumenda id
                            saepe optio itaque vitae, doloremque laborum nesciunt. </p>
                    </div>
                </div>

                <div v-if="order==4" class="item">
                    <img src="img/04.jpg" alt="Svezia" />
                    <div class="text">
                        <h3>Svezia</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nostrum dicta laudantium
                            sed quos recusandae cupiditate impedit adipisci velit praesentium provident assumenda id
                            saepe optio itaque vitae, doloremque laborum nesciunt. </p>
                    </div>
                </div>

                <div v-if="order==5" class="item">
                    <img src="img/05.jpg" alt="Svezia" />
                    <div class="text">
                        <h3>Svezia</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nostrum dicta laudantium
                            sed quos recusandae cupiditate impedit adipisci velit praesentium provident assumenda id
                            saepe optio itaque vitae, doloremque laborum nesciunt. </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div class="prev" @click="previousImg"></div>
                    <div class="next" @click="nextImg"></div>
                    <div class="thumb active">
                        <img src="img/01.jpg" alt="Svezia" />
                    </div>
                    <div class="thumb">
                        <img src="img/02.jpg" alt="Svizzera" />
                    </div>
                    <div class="thumb">
                        <img src="img/03.jpg" alt="Gran Bretagna" />
                    </div>
                    <div class="thumb">
                        <img src="img/04.jpg" alt="Germania" />
                    </div>
                    <div class="thumb">
                        <img src="img/05.jpg" alt="Paradise" />
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>

</html>